* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  min-height: 100vh;
  background: #000f0f;
}

#root {
  width: 100%;
  min-height: 100%;
}
