.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100vh;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  gap: 10px;
  padding: 30px;
}

.resetPasswordForm h1 {
  color: #003333;
  text-align: center;
  font-size: clamp(2rem, 15vw, 3rem);
}

.inputGroup {
  position: relative;
  margin: 30px 0 15px 0;
  font-family: 'Indie Flower', cursive;
}

.inputGroup input {
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #003333;
  color: #003333;
}

.inputGroup input:focus,
.inputGroup input:not(:placeholder-shown),
.inputGroup input:-webkit-autofill+span {
  outline: none;
}

.inputGroup span {
  position: absolute;
  left: 0;
  top: 0px;
  color: #003333;
  pointer-events: none;
  transition: 0.2s ease all;
  font-size: clamp(0.8rem, 5vw, 1rem);
}

/* When input is focused or has text, move label up */
.inputGroup input:focus+span,
.inputGroup input:not(:placeholder-shown)+span {
  top: -20px;
  color: #009191;
}

.actionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 20px 0;
}

.actionBtn button {
  position: relative;
  padding: 15px;
  width: 160px;
  color: #009191;
  caret-color: transparent;
  font-weight: bold;
  font-size: clamp(0.8rem, 4vw, 1rem);
  background-color: transparent;
  border: 1px solid #009191;
  border-radius: 5px;
  box-shadow: 4px 4px 0 #009191;
  transition: background-color 0.2s, box-shadow 0.2s ease, transform 0.2s ease;
}

.actionBtn button:hover {
  background-color: #009191;
  color: white;
  transform: translate(4px, 4px);
  box-shadow: none
}

.actionBtn button:focus {
  outline: none;
}

.success {
  font-weight: bold;
  color: #009191;
}

.warning {
  font-weight: bold;
  color: red;
}

@media(max-height: 500px) {
  .formContainer {
    min-height: 400px;
  }
}