.resetPasswordForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 30px;
  background: rgb(29, 29, 29);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 10px;
}

.form button {
  padding: 10px;
  width: 100px;
  background: rgb(141, 210, 141);
  border: none;
}

.form button:hover {
  background: green;
}

.success {
  background: rgba(9, 255, 9, 0.305);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.warning {
  background: rgba(255, 1, 1, 0.305);
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}