.homeBg {
    background: url("data:image/svg+xml;utf8,%3Csvg%20id='visual'%20viewBox='0%200%201920%201080'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20version='1.1'%3E%3Cdefs%3E%3ClinearGradient%20id='bgGradient'%20x1='0%25'%20y1='0%25'%20x2='100%25'%20y2='0%25'%3E%3Cstop%20offset='0%25'%20stop-color='%23000f0f'/%3E%3Cstop%20offset='100%25'%20stop-color='%23004040'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect%20x='0'%20y='0'%20width='1920'%20height='1080'%20fill='url(%23bgGradient)'/%3E%3Cg%20fill='%23009191'%3E%3Ccircle%20r='289'%20cx='99'%20cy='1077'/%3E%3Ccircle%20r='127'%20cx='1504'%20cy='342'/%3E%3Ccircle%20r='203'%20cx='1032'%20cy='902'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.homeContainer {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 2% 28px;
    display: flex;
    flex-direction: column;
}

.homeContainer h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin-bottom: 2%;
    margin-right: 3%;
    text-align: center;
    z-index: 1;
}

.goalContainer {
    container-type: inline-size;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    background: transparent;
    box-shadow: 0 4px 8px black;
    z-index: 1;
}

.savingGoal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.aiBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.aiBtn {
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 0 #009191;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 1px solid #009191;
    border-radius: 15px;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.aiBtn:hover {
    background: #009191;
    box-shadow: none;
    transform: translate(4px, 4px);
}

.btnContent {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    transition: transform 0.3s ease;
}

.icon {
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
}

.aiBtn:hover .icon {
    transform: rotate(360deg);
}

.tooltipWrapper {
    position: relative;
    display: inline-block;
}

.tooltipText {
    visibility: hidden;
    width: 200px;
    font-size: 0.9rem;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    border-radius: 4px;
    background-color: #009191;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -50%;
    left: 130%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipWrapper:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

.goalForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.goalForm h2 {
    margin: 15px 0;
}

.categoryInput {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(300px, 20vw, 400px), 1fr));
    gap: 20px;
    padding: 0 0 5% 0;
    margin-bottom: 3%;
    border-bottom: 1px solid #008080;
    font-size: clamp(0.8rem, 3vw, 1rem);
    font-weight: bold;
}

.categoryInput div {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
}

.goalForm input {
    min-width: 50px;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(10px);
    border: none;
    border-bottom: 1px solid #008080;
    border-radius: 4px;
    color: white;
}

.goalForm input:hover {
    border-color: #4bb692;
}

.submitBtn {
    padding: 15px;
    width: 120px;
    background: none;
    box-shadow: 4px 4px 0 #004949;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 1px solid #004949;
    border-radius: 15px;
    transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.submitBtn:hover {
    background: #004949;
    box-shadow: none;
    transform: translate(4px, 4px);
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal h2 {
    color: #009191;
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.modal p {
    color: white;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.modalIcon {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.modalCatDisplay {
    display: grid;
    width: 65%;
    margin: auto;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.modalCatDisplay p:last-child {
    font-style: italic;
    font-weight: lighter;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

.modalFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalFooter p {
    color: #009191;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.modalFooter button:nth-of-type(1) {
    padding: 10px;
    width: 80px;
    background: none;
    margin-right: 10px;
    color: white;
    border: 2px solid #009191;
    border-radius: 15px;
    transition: background 0.3s ease;
}

.modalFooter button:nth-of-type(1):hover {
    background: #009191;
}

.modalFooter button:nth-of-type(2) {
    width: 80px;
    padding: 10px;
    background: none;
    color: white;
    border: 2px solid rgba(255, 76, 76, 0.798);
    border-radius: 15px;
    transition: background 0.3s ease;
}

.modalFooter button:nth-of-type(2):hover {
    background: rgba(255, 76, 76, 0.798);
}

@media (max-width: 700px) {
    .homeContainer {
        padding: 2% 15px;
    }
}

@container (max-width: 550px) {
    .tooltipText {
        bottom: 130%;
        left: 50%;
        transform: translateX(-50%);
    }
}